<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--引入公共head-->
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <title>崇明鸟|博客列表</title>
</head>
<body class="body-me">
<!--引入公共头部导航栏-->
<nav th:replace="_adminFragments::admin"></nav>
<!--中间内容-->
<div class="m-padded-top-big ui container">
    <!--文章搜索-->
    <form action="/admin/blogList" class="ui basic segment form" method="get" style="padding: 0">
        <div class="inline fields m-margin">
            <div class="field m-padded-tb-mini m-mobile-wide m-padded-r">
                <input type="text" name="title" placeholder="文章标题" class="m-mobile-wide" th:value="${title}">
            </div>
            <div class="field m-padded-tb-mini m-mobile-wide m-padded-r">
                <div class="ui selection dropdown m-mobile-wide">
                    <input type="hidden" name="category" th:value="${category}">
                    <i class="dropdown icon"></i>
                    <div class="default text">分类</div>
                    <div class="menu">
                        <div class="item" data-value="">--未选择--</div>
                        <div class="item"
                             th:each="category : ${allCategory}"
                             th:data-value="${category.id}"
                             th:text="${category.name}"></div>
                    </div>
                </div>
            </div>
            <div class="field m-padded-tb-mini m-mobile-wide m-padded-r">
                <button class="ui orange basic button m-mobile-wide" type="submit">
                    <i class="search link icon"></i>搜索
                </button>
            </div>
        </div>
    </form>
    <!--文章列表-->
    <div>
        <table class="ui striped table m-opacity-mini">
            <thead>
            <tr>
                <th class="two wide">编号</th>
                <th class="four wide">标题</th>
                <th class="two wide">分类</th>
                <th class="three wide">更新时间</th>
                <th class="one wide">推荐</th>
                <th class="one wide">状态</th>
                <th class="three wide">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog : ${blogList}">
                <td data-label="id" th:text="${blog.id}"></td>
                <td data-label="title" th:text="${blog.title}"></td>
                <td data-label="category" th:text="${blog.category}"></td>
                <td data-label="updateDate" th:text="${#dates.format(blog.updateDate,'yyyy-MM-dd')}"></td>
                <td data-label="recommend" th:text="${blog.recommend}? '是' : '否'"></td>
                <td data-label="status" th:text="${blog.status}? '发布' : '草稿'"></td>
                <td data-label="do">
                    <a href="#" th:href="@{/admin/editor?id={id}(id=${blog.id})}"
                       class="ui tiny primary button m-mobile-wide">
                        <i class="edit link icon"></i>编辑
                    </a>
                    <button onclick="deleteShow(this)" class="ui tiny button m-mobile-wide">
                        <i class="delete link icon"></i>删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--分页按钮-->
    <div class="ui container column center aligned m-padded-tb">
        <a class="circular ui basic icon button"
           th:style="${pn}-1<1?'display: none':''"
           th:href="@{/admin/blogList?pn={pn}&category={category}&title={title}(pn=${pn}-1,category=${category},title=${title})}">
            <i class="icon angle left"></i>
        </a>
        <a class="circular ui basic icon button"
           th:text="${pn}-1"
           th:style="${pn}-1<1?'display: none':''"
           th:href="@{/admin/blogList?pn={pn}&category={category}&title={title}(pn=${pn}-1,category=${category},title=${title})}">
        </a>
        <a class="circular ui icon button"
           th:text="${pn}"
           th:href="@{/admin/blogList?pn={pn}&category={category}&title={title}(pn=${pn},category=${category},title=${title})}">
        </a>
        <a class="circular ui basic icon button"
           th:text="${pn}+1"
           th:style="${pn}+1>${pages}?'display: none':''"
           th:href="@{/admin/blogList?pn={pn}&category={category}&title={title}(pn=${pn}+1,category=${category},title=${title})}">
        </a>
        <a class="circular ui basic icon button"
           th:style="${pn}+1>${pages}?'display: none':''"
           th:href="@{/admin/blogList?pn={pn}&category={category}&title={title}(pn=${pn}+1,category=${category},title=${title})}">
            <i class="icon angle right"></i>
        </a>
    </div>
</div>
<!--弹出层 删除-->
<div class="ui mini modal" id="delete">
    <div class="header">删除你的文章</div>
    <div class="content">
        <p>你确定删除你的文章吗</p>
    </div>
    <div class="actions">
        <div class="ui negative button">否</div>
        <div class="ui positive right labeled icon ok button">Yes <i class="checkmark icon"></i></div>
    </div>
</div>
<!--引入公共底部内容-->
<footer th:replace="_fragments::footer"></footer>
<!--引入公共JavaScript-->
<!--/*/<th:block th:replace="_fragments::script">/*/-->
<!--/*/</th:block>/*/-->
<script type="text/javascript">
    $('.ui.dropdown')
        .dropdown({
            on: 'hover'
        });

    function deleteShow(obj) {
        let id = $(obj).parent().parent().find("td").eq(0).text();
        console.log(id);
        $('#delete')
            .modal({
                onApprove: function () {
                    $.ajax({
                        url: "/admin/deleteBlog",
                        type: "post",
                        data: {"id": id},
                        dataType: "json",
                        success: function (re) {
                            if (re.info === 1) {
                                window.location.href = "/admin/blogList";
                                return false;
                            }
                        }
                    })
                }
            })
            .modal('show');
    }
</script>
</body>
</html>
